amplify-authenticator {
  position: relative;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0062cc;
}
  